  <div class="row-fluid">
    <div class="span6">
      <h2 class="form-signin-heading">Login</h2>
      <form  class="form-signin" method="post" action="/login">
        <input type="text" class="input-block-level"placeholder="Yer Email" name="email">
        <input type="text" class="input-block-level"placeholder="Yer Password" name="password">
      <a href="/post" class="btn btn-primary btn-large">Login</a>
    </div>
  </div>
