  <div class="masthead">
    <h2 class="muted">F*n Blogger</h2>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="/">Yer Home</a></li>
            <li><a href="/">Create Yer Post</a></li>
            <li><a href="/posts">All Yer Posts</a></li>
            <li><a href="/tags">All Yer Tags</a></li>
            
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
  </div>
