<div class="container">
    <h2 class="form-signin-heading">
      All Yer Tags
    </h2>
    <ul class="nav nav-pills">
      <%Tag.all.each do |t|  %>
        <li class="active">
          <% @tag = t %>
          <a href=/<%=@tag.text%>><%=@tag.text %></a>
        </li>      
      <%end  %>
    </ul>  
</div>
