<div class="span12">
    <h2 class="form-signin-heading">
      All Yer Tags
    </h2>
    <ul class="nav nav-pills">
      <%Tag.all.each do |t|  %>
        <li class="active">
          <a href=/tag/<%=t.id%>><%=t.text %></a>
        </li>      
      <%end  %>
    </ul>  
</div>
