<div class="container">
  <ul class="nav nav-pills">
    <%@post.tags.each do |t| %>
    <li class="active">
      <a href=/tag/<%=t.id%>># <%=t.text %></a>
    </li>      
    <% end %>
  </ul>  
</div>
