<div class="container">
  <div class="hero-unit">
    <h2 class="form-signin-heading">All Yer Posts</h2>
  </div>
    <%=erb :_tags, :layout => false %>
    <%=erb :_posts, :layout => false %>      
  </div>

  

</div>