<div class="container">

  <div class="hero-unit">
    <div class="row-fluid">
      <div class="span6">
        <h2 class="form-signin-heading">Post</h2>
        <form class="form-signin" method="post" action="/posts">
          <input type="text" class="input-block-level"placeholder="Yer Title" name="title">
          <textarea class="input-block-level" rows="10" name="body" placeholder="Yer Sob Story Here"></textarea>
          <input type="text" class="input-block-level"placeholder="Add Some F'n Tags.  Don't be a Douche, separate them by commas" name="tags">
          <input type="submit" class="btn btn-primary btn-large" value="Post Dis Sheeit">
        </form>
      </div>
    </div>
  </div>

  <%=erb :_tags, :layout => false %>
  
</div>