<div class="container">
  <div class="hero-unit">
    <h2 class="form-signin-heading">
      dis shit
      <%=@post.title %>
    </h2>
    <p><%=@post.body %></p>
  </div>      
</div>

<%=erb :_tag, :layout => false %>